<div class="background-wrapper">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card mt-4" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-3">Edit Profile</h2>
                            <form method="post" class="auth-form">
                                <div class="my-3 form-group">
                                    <input name="id" type="hidden" value={{user.user_Id}} />
                                </div>

                                <div class="my-3 form-group">
                                    <span class="ml-2" style="font-weight: 600;">
                                        Fullname
                                    </span>
                                    <input value="{{user.fullname}}" name="fullname" type="text" class="form-control"
                                        required />
                                </div>

                                <div class="mb-3 form-group">
                                    <span class="ml-2" style="font-weight: 600;">
                                        Address
                                    </span>
                                    <input value="{{user.address}}" name="address" type="text" class="form-control"
                                        required />
                                </div>

                                <div class="mb-3 form-group">
                                    <span class="ml-2" style="font-weight: 600;">
                                        Phone number
                                    </span>
                                    <input value="{{user.phone}}" name="phone" type="text" class="form-control"
                                        required />
                                </div>

                                <div class="mb-3 form-group">
                                    <span class="ml-2" style="font-weight: 600;">
                                        Avatar
                                    </span>
                                    <div class="center">
                                        <img id="img_display" src="{{user.avatar}}" alt="user_avatar" style="border: 2px solid #198754;" width="100px"
                                            height="100px" />
                                    </div>
                                </div>

                                <div class="mb-3 form-group">
                                    <span class="ml-2" style="font-weight: 600;">
                                        Avatar URL
                                    </span>
                                    <input id="image_link" value="{{user.avatar}}" name="avatar" type="text" class="form-control"
                                        required />
                                </div>

                                <div class="d-flex justify-content-center mt-5">
                                    <button type="submit"
                                        class="btn btn-success w-25 rounded align-items-center mx-auto">Update</button>
                                </div>
                            </form>
                        </div>
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                        <script>
                            // update image
                            $(document).ready(function () {
                                $('#image_link').on('input', function () {
                                    const imageLink = $('#image_link').val();
                                    if(imageLink == "" || imageLink == null){
                                        $('#img_display').attr('src', "https://www.meme-arsenal.com/memes/d8b908c80e97d7a695e108830806a835.jpg");
                                    } else{
                                        $('#img_display').attr('src', imageLink);
                                    }
                                });
                            });

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>